body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 125%;
}

/* toolbar */

#toolbar {
  height: 3em;
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 0.5rem;
}

#branding img {
  height: 2em;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

#branding a {
  text-decoration: none;
}

/* footer */

footer {
  font-size: smaller;
  text-align: center;
  padding: 0.5em 0.5em;
  border-top: 1px solid #ccc;
}

/* main section */

#main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 3em 1em;
}

/* register table */

#register td, #register th {
  padding: 0.25em 0.25em;
  border: 1px solid black;
}


#register {
  border-collapse: collapse;
  width: 100%;
}

#register thead th {
  background-color: darkblue;
  color: white;
  text-align: center;
}

#register th:nth-child(1) {
  width: 10%;
}

#register th:nth-child(2) {
  width: 60%;
}

#register th:nth-child(3) {
  width: 10%;
}

#register th:nth-child(4) {
  width: 20%;
}

#register tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#register tbody th {
  background-color: lightgray;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

/* headings */

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* misc */

code {
  font-family: Consolas, monospace;
}

a {
  color: inherit;
}